.accent
  color: $accent !important
.overflow-hidden
  overflow: hidden
.it-bold
  +os-bold

.accent
  color: $accent

.fz-bigger
  font-size: 1.4em

.underline
  text-decoration: underline
.text-center
  text-align: center