<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-7">
          <div class="footer__block">
            <div class="footer__logo">
              {{ mixins.logo('logo--footer') }}
            </div>
            <div class="footer__copy">
              &copy; 2019. Создаем наружную рекламу в Киеве
              Вывески, лайтбоксы, штендеры,<br>
              объемные буквы, таблички
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-3 col-5">
          <div class="footer__block">
            <div class="footer__title">
              <div class="title title--h4">Клиенту</div>
            </div>

            <div class="footer__list">
              {{ mixins.list(
                name = 'nav',
                modifications = { wrap: 'nav--footer', item: '', link: '' },
                list = [
                  { link: 'Главная' },
                  { link: 'Услуги' },
                  { link: 'Продукция' },
                  { link: 'Блог' }
                ]
              ) }}
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-5">
          <div class="footer__title">
            <div class="title title--h4">Свяжитесь с нами</div>
          </div>

          <div class="footer__list">
            {{ mixins.list(
              name = '',
              modifications = { wrap: 'nav nav--footer', item: '', link: '' },
              list = [
                { item: 'Адрес: Киев, улица Дмитриевская 82' },
                { item: 'Email: <a href="mailto:r.box.reklama@gmail.com">r.box.reklama@gmail.com</a>' },
                { item: 'Телефон: <a href="tel:0501433805"><em>(050) 14-33-805</em></a>', modItem: '' },
                { item: 'График работы: 10:00 - 19:00 (Пн - Пт)' }
              ]
            ) }}
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="footer__block">
            <div class="footer__title">
              <div class="title title--h4">Подпишитесь на наш блог</div>
            </div>

            <div class="footer__form">
              <!-- begin form -->
              <div class="form form--subscribe">
                <form>
                  <div class="form__inner">
                    <div class="form__row">
                      <div class="form__field">
                        <!-- begin input -->
                        <div class="input input--gray">
                          <input type="email" placeholder="Введите ваш Email">
                          {{ mixins.btn(
                            title = '',
                            mod = 'btn--arr',
                            href = false
                          ) }}
                        </div>
                        <!-- end input -->                         
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- end form -->
            </div>

            <div class="footer__social">
              <div class="footer__social-block">
                <div class="footer__social-title">
                  <div class="title title--h4">Мы в соцсетях:</div>
                </div>
                {{ mixins.list(
                  name = 'social',
                  modifications = { wrap: '', item: '', link: '' },
                  list = [
                    { link: mixins.icon('facebook-circle') },
                    { link: mixins.icon('instagram-circle') }
                  ]
                ) }}
              </div>

              <div class="footer__social-block">
                <div class="footer__social-title">
                  <div class="title title--h4">Напишите нам:</div>
                </div>
                {{ mixins.list(
                  name = 'social',
                  modifications = { wrap: '', item: '', link: '' },
                  list = [
                    { item: '', link: mixins.icon('viber-square'), modItem: '', modLink: '' },
                    { item: '', link: mixins.icon('whatsapp'), modItem: '', modLink: '' },
                    { item: '', link: mixins.icon('messenger'), modItem: '', modLink: '' },
                    { item: '', link: mixins.icon('telegram'), modItem: '', modLink: '' }
                  ]
                ) }}
              </div>
            </div>

            <div class="footer__download">
              <div class="title title--h4">Скачайте наш прайс:</div>
              <a class="download-sm" href="#">pdf {{ mixins.icon('download') }}</a>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="footer__auth">
            Разработка сайта: <a href="#">Demiweb International</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->