<!-- begin header -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__inner">
        <div class="header__adress">{{ mixins.icon('placeholder') }} Киев, ул. Дмитриевская, 82</div>

        <div class="header__social-block">
          <div class="header__social">
            Мы в соцсетях:
            {{ mixins.list(
              name = 'social',
              modifications = { wrap: '', item: '', link: '' },
              list = [
                { item: '', link: mixins.icon('facebook-circle')  , modItem: '', modLink: '' },
                { item: '', link: mixins.icon('instagram-circle')  , modItem: '', modLink: '' }
              ]
            ) }}
          </div>

          <div class="header__social">
            Напишите нам:
            {{ mixins.list(
              name = 'social',
              modifications = { wrap: '', item: '', link: '' },
              list = [
                { item: '', link: mixins.icon('viber-square'), modItem: '', modLink: '' },
                { item: '', link: mixins.icon('whatsapp'), modItem: '', modLink: '' },
                { item: '', link: mixins.icon('messenger'), modItem: '', modLink: '' },
                { item: '', link: mixins.icon('telegram'), modItem: '', modLink: '' }
              ]
            ) }}
          </div>
        </div>

        <div class="header__lang">
          {{ mixins.list(
            name = 'lang',
            modifications = { wrap: '', item: '', link: '' },
            list = [
              { item: '', link: 'ru', modItem: '', modLink: 'is-active' },
              { item: '', link: 'ua', modItem: '', modLink: '' },
              { item: '', link: 'en', modItem: '', modLink: '' }
            ]
          ) }}
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          {% include "partials/_logo.html" %}
        </div>
      

        <div class="header__nav">
          {% include "partials/_nav.html" %}
        </div>

        <div class="header__mail">
          <a href="mailto:r.box.reklama@gmail.com">{{ mixins.icon('mail') }} r.box.reklama@gmail.com</a>
        </div>

        <div class="header__call">
          <a href="tel:0501433805">{{ mixins.icon('smartphone') }} (050) 14-33-805</a>
          <button>Перезвоните мне</button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->