<!-- begin hero -->
<section class="hero">
  <div class="hero__bg">
    <video class="js-lazy" data-src="./video/video-bg.mp4" loop="" autoplay="" muted="" playsinline=""></video>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="hero__img">
          <img data-src="./img/lightbox.png" alt="" class="js-lazy">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hero__content">
          <div class="hero__title">
            <div class="title title--white"><span class="glitch" data-text="Сделаем лучшую">Сделаем лучшую</span> <span class="accent fz-bigger">наружную <br> рекламу</span> для вашего бизнеса в Киеве</div>
          </div>

          <div class="hero__nav">
            {{ mixins.list(
              name = 'nav',
              noClass = true,
              modifications = { wrap: 'nav-hero', item: '', link: '' },
              list = [
                { link: 'Вывески' },
                { link: 'Штендеры' },
                { link: 'Объемные буквы' },
                { link: 'Таблички' },
                { link: 'Лайтбоксы' }
              ]
            ) }}
          </div>

          <div class="hero__btn">
            {{ mixins.btn(
              title = '<span>Заказать услугу</span>',
              mod = '',
              href = false
            ) }}
          </div>

          <div class="hero__guar">
            {{ mixins.icon('shield') }}
            Оказываем гарантийное обслуживание для ваших <br> вывесок в течении <span class="accent">360</span> дней
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__scroll">
    <a href="#" class="scroll-down js-scroll-down">
      <span class="scroll-down__title">Узнать больше</span>
      <span class="scroll-down__arrow"><span></span></span>
    </a>
  </div>
</section>
<!-- end hero -->