<!-- begin scroll-text -->
<div class="scroll-text js-scrollbar">
  <article>
    <h1>Какая реклама самая востребованная на рынке?</h1>
    <p>Если определять чемпиона среди <strong>световых вывесок,</strong> то им наверняка окажется <em>лайтбокс</em>, как самый востребованный тип <a href="#">наружной рекламы.</a> Компания Март Груп, еше в далеком 2004 году, в начале своей деятельности, освоила разработку и производство данного вида визуальных вывесок. Популярность лайтбоксов у разных заказчиков определяется органичной возможностью совмещения не очень большой по размерам вывески, с ее хорошей световой подачей:</p>
    <ul>
      <li>Стоимость</li>
      <li>Время работ</li>
      <li>Качество</li>
    </ul>
  </article>

  {% for i in range(0, 5) %}
    <article>
      <h2>Из чего делают лайтбоксы?</h2>

      <ol>
        <li>По конструкции лайтбоксы обычно представляют собой прямоугольный короб на раме, лицевая часть которого является носителем рекламного сообщения. </li>
        <li>В темное время суток, изнутри этот короб подсвечивается люминесцентными  лампами либо светодиодными модулями. </li>
        <li>Еще один секрет популярности лайтбаксов - это сравнительно небольшая цена, при не самой высокой сложности изготовления. В  соответствии с их стоимостью производство лайтбоксов можно условно разделить на три их вида.</li>
      </ol>
    </article>
  {% endfor %}
</div>
<!-- end scroll-text -->