{%set
  slider = {
    slides: [
      {
        img: '01_03.jpg',
        title: 'Лайтбокс для автомобильно 
сервиса «Шина»',
        subttl: 'Июнь 2018'
      },
      {
        img: '01_05.jpg',
        title: 'Рекламный щит для реп-исполнителя
«Noize MC»',
        subttl: 'Август 2018'
      },
      {
        img: '01_07.jpg',
        title: 'Вывеска для кофе-шопа
«Expresso Room»',
        subttl: 'Июнь 2018'
      },
      {
        img: '01_09.jpg',
        title: 'Вывеска для магазина 
техники «Цитрус»',
        subttl: 'Август 2019'
      },
      {
        img: '01_03.jpg',
        title: 'Лайтбокс для автомобильно 
сервиса «Шина»',
        subttl: 'Июнь 2018'
      },
      {
        img: '01_05.jpg',
        title: 'Рекламный щит для реп-исполнителя
«Noize MC»',
        subttl: 'Август 2018'
      },
      {
        img: '01_07.jpg',
        title: 'Вывеска для кофе-шопа
«Expresso Room»',
        subttl: 'Июнь 2018'
      },
      {
        img: '01_09.jpg',
        title: 'Вывеска для магазина 
техники «Цитрус»',
        subttl: 'Август 2019'
      }
    ]
  }
%}

<!-- begin slider -->
<div class="slider__wrap slider--items__wrap">
  <div class="slider slider--items js-slider js-lightgallery" data-slider="items">
    {% for i in slider.slides %}
        {{ mixins.project(
          img = i.img,
          title = i.title,
          subttl = i.subttl,
          mod = 'slide'
        ) }}
    {% endfor %}
  </div>

  <button class="slider__prev prev js-prev"></button>
  <button class="slider__next next js-next"></button>
</div>
<!-- end slider -->