{%set
steps = [
  { nmb: '01', img: '01.png', title: 'Вы звоните/пишите нам
и оставляете заявку' },
  { nmb: '02', img: '02.png', title: 'Мы просчитываем стоимость
и оговариваем сроки' },
  { nmb: '03', img: '03.png', title: 'Вместе разрабатываем проект
будущей конструкции' },
  { nmb: '04', img: '04.png', title: 'Изготавливаем ваш
заказ ' },
  { nmb: '05', img: '05.png', title: 'Доставляем, устанавливаем,
проверяем' },
  { nmb: '06', img: '06.png', title: 'Вы оплачиваете и рекомендуете
нам друзьям :-)' }
]
%}

<!-- begin steps -->
<div class="steps">
  <div class="row">
    {% for i in steps %}
    <div class="col-4">
      <!-- begin step -->
      <div class="step"> 
        <div class="step__img">
          <div class="step__nmb">
            <div class="title title--h5 title--bold">{{ i.nmb }}</div>
          </div>
          <img class="js-lazy" alt="" data-src="./img/steps/{{ i.img }}"/>
        </div>

        <div class="step__title">{{ i.title | safe }}</div>
      </div>
      <!-- end step -->
    </div>
    {% endfor %}
  </div>
</div>
<!-- end steps -->