<!-- begin section -->
<section class="section overflow-hidden pt-lgl pb-sm">
  <div class="word">
    <div class="word__inner">we better</div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-8">
        <div class="section__title glitch glitch--h2" data-text="Почему">
          <div class="title title--h2 title-under">Почему мы лучше остальных</div>
        </div>

        <div class="section__subttl">Мы знаем как важно выбрать надежного исполнителя в какой-либо сфере бизнеса. Любые вопросы
по изготовлению наружной рекламы в Киеве вы можете решить с помощью профессионалов
из Рекламного центра “К.Вох”. Объединив наш опыт и преимущества, мы уверенно можем
гарантировать вам высокое качество услуг по самым выгодным ценам</div>

      </div>
    </div>

    <div class="section__features">
      {% include "partials/_features.html" %}
    </div>

  </div>
</section>
<!-- end section -->