<!-- begin section -->
<section class="section overflow-hidden pt-lgl pb-lg">
  <div class="word">
    <div class="word__inner">service</div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-8">
        <div class="section__title glitch glitch--h2" data-text="Гарантийное обслуживание">
          <div class="title title--h2 title-under">Гарантийное обслуживание</div>
        </div>
        <div class="section__subttl">После установки любых объектов наружной рекламы, могут возникнуть непредвиденные обстоятельства, не связанные с внешним вмешательством в рекламную конструкцию. </div>

      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-6 mb-xs">
        <img class="js-lazy" alt="" src="" data-src="./img/guarantee.jpg"/>
      </div>

      <div class="col-xl-5 col-sm-6">
        <p>Мы предоставляем честную гарантию на рекламные конструкции и установочные работы, сделанные в Рекламном центре “R.Box” сроком 365 дней. На протяжении указанного срока мы устраним любые неполадки 
за свой счет и совершенно бесплатно для вас, если они возникли по независимым от вас причинам.
</p>
      </div>
    </div> 

  </div>
</section>
<!-- end section -->