<!-- begin section -->
<section class="section s-projects overflow-hidden pt-lgl pb-sml">
  <div class="word">
    <div class="word__inner">Projects</div>
  </div>

  <div class="container">
    <div class="section__top">
      <div class="section__title">
        <div class="title title--h2 title-under">Наши проекты</div>
      </div>

      <div class="section__link">
        <a href="#" class="link-arrow">
          <span class="link-arrow__title">Смотреть все проекты</span>  
          <span class="link-arrow__arr"></span>
        </a>
      </div>
    </div>

    <div class="section__slider">
      {% include "partials/_slider-projects.html" %}
    </div>

  </div>
</section>
<!-- end section -->