<!-- begin section -->
<section class="section overflow-hidden pt-lgl pb-sm">
  <div class="word">
    <div class="word__inner">steps</div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8">
        <div class="section__title glitch glitch--h2" data-text="Этапы работы">
          <div class="title title--h2 title-under">Этапы работы</div>
        </div>

        <div class="section__subttl">Мы знаем, как важно выбрать надежного исполнителя в любой сфере бизнеса.
        Все вопросы, которые касаются наружной рекламы в Киеве, вы можете доверить профессионалам из «R.Box».</div>

      </div>
    </div>

      {% include "partials/_steps.html" %}

  </div>
</section>
<!-- end section -->