{%set
  items = [
    { img: '01.png', price: 'От <br> <strong>1000</strong> грн', title: 'Вывески' },
    { img: '02.png', price: 'От <br> <strong>300</strong> грн', title: 'Объёмные буквы' },
    { img: '03.png', price: 'От <br> <strong>2000</strong> грн', title: 'Лайтбоксы и штендеры' },
    { img: '04.png', price: 'От <br> <strong>300</strong> грн', title: 'Таблички' },
    { img: '01.png', price: 'От <br> <strong>1000</strong> грн', title: 'Вывески' },
    { img: '02.png', price: 'От <br> <strong>300</strong> грн', title: 'Объёмные буквы' },
    { img: '03.png', price: 'От <br> <strong>2000</strong> грн', title: 'Лайтбоксы и штендеры' },
    { img: '04.png', price: 'От <br> <strong>300</strong> грн', title: 'Таблички' }
  ]
%}

<!-- begin section -->
<section class="section overflow-hidden pt-lgl pb-sm">
  <div class="word">
    <div class="word__inner">What we do</div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-6 col-sm-8">
        <div class="section__title glitch glitch--h2" data-text="Что мы делаем">
          <div class="title title--h2 title-under">Что мы делаем</div>
        </div>

        <div class="section__subttl">Мы создаем для вас вывески, лайтбоксы, штендеры и другие объекты (конструкции) наружной рекламы, которые уверенно помогут вашему бизнесу громко заявить о себе.</div>

      </div>
    </div>

    <div class="section__items">

      <!-- begin slider -->
      <div class="slider__wrap slider--items__wrap">
        <div class="slider slider--items js-slider" data-slider="items">
          {% for i in items %}
            <!-- begin slide -->
            <div class="slide">
              {{ mixins.item(
                img = i.img,
                price = i.price,
                title = i.title
              ) }}
            </div>
            <!-- end slide -->
          {% endfor %}
        </div>

        <button class="slider__prev prev js-prev"></button>
        <button class="slider__next next js-next"></button>
      </div>
      <!-- end slider -->
    </div>
  </div>
</section>
<!-- end section -->