{%set
  items = [
    { img: '01.png', price: 'От <br> <strong>1000</strong> грн', title: 'Вывески' },
    { img: '02.png', price: 'От <br> <strong>300</strong> грн', title: 'Объёмные буквы' },
    { img: '03.png', price: 'От <br> <strong>2000</strong> грн', title: 'Лайтбоксы и штендеры' },
    { img: '04.png', price: 'От <br> <strong>300</strong> грн', title: 'Таблички' },
    { img: '01.png', price: 'От <br> <strong>1000</strong> грн', title: 'Вывески' },
    { img: '02.png', price: 'От <br> <strong>300</strong> грн', title: 'Объёмные буквы' },
    { img: '03.png', price: 'От <br> <strong>2000</strong> грн', title: 'Лайтбоксы и штендеры' },
    { img: '04.png', price: 'От <br> <strong>300</strong> грн', title: 'Таблички' }
  ]
%}

<!-- begin section -->
<section class="section overflow-hidden pt-lgl pb-sm">
  <div class="word">
    <div class="word__inner">What we do</div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-6 col-sm-8">
        <div class="section__title glitch glitch--h2" data-text="Что мы делаем">
          <div class="title title--h2 title-under">Что мы делаем</div>
        </div>

        <div class="section__subttl">Мы создаем для вас вывески, лайтбоксы, штендеры и другие объекты (конструкции) наружной рекламы, которые уверенно помогут вашему бизнесу громко заявить о себе.</div>

      </div>
    </div>

    <div class="section__items">

      <!-- begin slider -->
      <div class="slider__wrap slider--items__wrap">
        <div class="slider slider--items js-slider" data-slider="items">
          {% for i in items %}
            <!-- begin slide -->
            <div class="slide">
              <!-- begin item -->
              <a href="#" class="item js-lazy" data-background-image="./img/we-do/{{ i.img }}">
                <span class="item__price">{{ i.price | safe  }}</span>

                <span class="item__content">
                  <span class="item__title">
                    <span class="title title--h4 title--h-bold title-under title-under--sm">{{ i.title | safe }}</span>
                  </span>

                  <span class="item__link link-arrow link-arrow--sm">
                    <span class="link-arrow__title">Узнать об услуге</span>
                    <span class="link-arrow__arr"></span>
                  </span>
                </span>
              </a>
              <!-- end item -->
            </div>
            <!-- end slide -->
          {% endfor %}
        </div>

        <button class="slider__prev prev js-prev"></button>
        <button class="slider__next next js-next"></button>
      </div>
      <!-- end slider -->
    </div>
  </div>
</section>
<!-- end section -->