.footer
  background-color: $white-dark  
  &__inner
    padding-top: 70px
    padding-bottom: 50px
  &__logo
    margin-bottom: 20px
    +lg
      margin-bottom: 10px
  &__title
    margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__copy
    font-size: 13px
  &__auth
    margin-top: 40px
    text-align: center
    font-size: 13px
    a
      color: $blue
  &__form
    margin-bottom: 40px
  