.form
  $this: &
  &__field
    margin-bottom: 15px
    position: relative
  &__btn
    margin-bottom: 15px
  &--call
    max-width: 330px
    +xs
      max-width: none
    #{$this}__field
      margin-bottom: 40px
      text-align: center
      +lg
        margin-bottom: 30px
      +md
        margin-bottom: 15px
      +sm
        margin-bottom: 10px
    #{$this}__bottom
      white-space: nowrap
      +lg
        white-space: normal
  &--subscribe
    input
      border-bottom: 1px solid $gray
      width: 100%
    button
      position: absolute
      top: 0
      right: 0


.input
  +bold
  .icon
    font-size: 21px
    margin-right: 10px
    position: relative
    top: 0.2em
  input
    background-color: transparent
    padding: 5px 0
    height: 32px

  &--reg
    +light


    