.project-link
  +flex(flex-end, normal, column)
  +cover
  color: $white
  height: 480px
  padding: 20px
  +sm
    padding: 10px
  &__title
    display: block
    +bold
    margin-bottom: 10px
  &__subttl
    color: $white-dark
    display: block
    font-size: $fz-sm