.section
  $this: &
  position: relative
  .word
    left: percentage(3/12)
    // right: 10%
    top: 0
    +xl
      left: 15%
      // right: 0
    +md
      left: 5%
  &__title
    position: relative
    margin-bottom: 25px
    +md
      margin-bottom: 15px
  &__title-mb-lg
    margin-bottom: 65px
    +lg
      margin-bottom: 50px
    +md
      margin-bottom: 30px
  &__top
    +flex(space-between,center)
    margin-bottom: 40px
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 15px
    +xs
      display: block
      .section__title
        margin-bottom: 10px
    #{$this}__title
      margin-bottom: 0
  &__subttl
    margin-bottom: 35px
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 15px
      br
        display: none
  &__items
    margin-top: 30px
    margin-bottom: 30px
  &__contacts
    +xs
      margin-bottom: 15px

  &--white
    color: $white
  &--bg
    +cover
  &--word-lower
    .word
      top: 7%

.s-about
  background-size: 25%
  background-position: 40% 100%
  background-repeat: no-repeat
  +md
    background-size: 30%
  +sm
    background-position: 20% 100%
  +xs
    background-size: 70%
  .word
    +css-lock(30, 100, 320, 1499, top)

.s-call
  &__left
    +sm
      margin-bottom: 15px

.s-stext
  background-size: cover
  background-repeat: no-repeat
  background-position: 100% 100%
  &__img
    text-align: center
    +xs
      margin-top: 25px

.s-order
  margin-top: 200px
  background-position: 30% 50%
  +md
    margin-top: 0
  +xs
    background-position: 100% 50%
  &__left
    height: 100%
    +flex(center, flex-end, column)
  &__title
    // max-width: 520px
    max-width: percentage(6/12)
    +xs
      max-width: none
      margin-bottom: 25px




